
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
	<title>Productos</title>
</head>
<body>
	<h1>Listado de Productos</h1>  
        <table border="1">
            <tr>
                <th style="width:  50px;">ID</th>
                <th style="width: 150px;">CLAVE</th>
                <th style="width: 250px;">Nombre</th>
                <th style="width: 150px;">Precio</th>
                <th style="width: 150px;">Existencia</th>
                <th style="width: 150px;">Faltante</th>
                <th style="width: 150px;">Vendidos</th>
            </tr>
            <c:forEach var="product"  items="${productList}" varStatus="status">
                <tr>
                    <td><b>${status.index + 1}</b></td>
                    <td>${product.getId_Prod()}</td>
                    <td>${product.getCve_Prod()}</td>
                    <td>${product.getNom_Prod()}</td>
                    <td>${product.getPre_Prod()}</td>
                    <td>${product.getInv_Exi_Prod()}</td>
                    <td>${product.getInv_fal_Prod()}</td>
                    <td>${product.getProd_tot_Ven()}</td>
                </tr>
            </c:forEach>
            <tr th:each="prod,iterStat : ${prods}" th:class="${iterStat.odd}? 'odd'">
  				  <td th:text="${prod.name}">Onions</td>
  				  <td th:text="${prod.price}">2.41</td>
  				  <td th:text="${prod.inStock}? #{true} : #{false}">yes</td>
  			</tr>
        </table>
</body>
</html>