<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
	crossorigin="anonymous">
<title>Producto</title>
</head>
<body>
<header>
	<nav
		class="navbar navbar-expand-lg bg-body-tertiary navbar bg-dark border-bottom border-body"
		data-bs-theme="dark">
		<div class="container-fluid">
			<a class="navbar-brand" href="#">Abarrotes Letty</a>
			<button class="navbar-toggler" type="button"
				data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
				aria-controls="navbarNavDropdown" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarNavDropdown">
				<ul class="navbar-nav">
					<li class="nav-item"><a class="nav-link active"
						aria-current="page" href="#">Inicio</a></li>
					<li class="nav-item dropdown"><a
						class="nav-link dropdown-toggle" href="#" role="button"
						data-bs-toggle="dropdown" aria-expanded="true"> Productos </a>
						<ul class="dropdown-menu">
							<li>
								<a class="dropdown-item" th:href="@{/views/productos/}">Lista de Productos</a>
							</li>
							<li>
								<a class="dropdown-item" th:href="@{/views/productos/VCrear}">Crear Producto</a>
							</li>
							<li>
								<a class="dropdown-item" href="#">Altas al Inventario</a>
							</li>
						
						</ul>
					</li>
				</ul>
			</div>
		</div>
	</nav>
	<div class="alert alert-success alert-dismissible fade show" role="alert" th:if="${success != null}">
 		 <strong th:text="${success}"></strong>
		  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
		</div>
		<div class="alert alert-danger alert-dismissible fade show" role="alert" th:if="${danger != null}">
 		 <strong th:text="${danger}"></strong>
		  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
		</div>
		<div class="alert alert-warning alert-dismissible fade show" role="alert" th:if="${warning != null}">
 		 <strong th:text="${warning}"></strong>
		  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
		</div>
		<div class="alert alert-info alert-dismissible fade show" role="alert" th:if="${info != null}">
 		 <strong th:text="${info}"></strong>
		  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
		</div>
		</header>
	<div class="container">
		<div class="card bg-light">
			<div class="card-head bg-dark text-white text-center text-uppercase" th:text="${titulo}">
			</div>
			<div class="card-body">
				<div class="row ">
				<div class="col-4 text-center">
				<img class="img-thumbnail rounded float-left"
				th:src="@{'/recursos/' + ${producto.getUrl_nom_Img()}}"
				th:alt="${producto.getUrl_nom_Img()}"
				style="max-width:80%;">
				</div>
				<div class="col-6">
				<ul class="list-group">
					<li class="list-group-item" th:text="'CLAVE: '+ ${producto.getCve_Prod()}">
					<li class="list-group-item" th:text="'NOMBRE: '+ ${producto.getNom_Prod()}">
					<li class="list-group-item" th:text="'PRECIO: '+ ${producto.getPre_Prod()}">
					<li class="list-group-item" th:text="'EXISTENCIAS: '+ ${producto.getInv_exi_Prod()}">
					<li class="list-group-item" th:text="'REQUERIDO: '+ ${producto.getInv_stock_Prod()}">				
					<li class="list-group-item" th:text="'VENTAS: '+ ${producto.getProd_tot_Ven()}">
					<li class="list-group-item" th:text="'PROVEEDOR: '+ ${producto.getProveedor.getNom_Prov()}">
					
				
				</ul>
				</div>
				</div>
			</div>
			<br>
				<button class="btn btn-success" onclick="goBack()">&laquo;Regresar</button>
		</div>
	</div>
		
	<footer th:fragment="footer" class="bg-dark text-center text-white fixed-bottom">

		<div class="container">
			<p>Copyright Alan Winchester &copy; -2023</p>

		</div>
	</footer>
	<script>
	
			function goBack()
			{
				window.history.back();
			}
	
	</script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
	
</body>
</html>