<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
	crossorigin="anonymous">
<title>Producto</title>
</head>
<body>
<header>
	<nav
		class="navbar navbar-expand-lg bg-body-tertiary navbar bg-dark border-bottom border-body"
		data-bs-theme="dark">
		<div class="container-fluid">
			<a class="navbar-brand" href="#">Abarrotes Letty</a>
			<button class="navbar-toggler" type="button"
				data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
				aria-controls="navbarNavDropdown" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarNavDropdown">
				<ul class="navbar-nav">
					<li class="nav-item"><a class="nav-link active"
						aria-current="page" href="#">Inicio</a></li>
					<li class="nav-item dropdown"><a
						class="nav-link dropdown-toggle" href="#" role="button"
						data-bs-toggle="dropdown" aria-expanded="true"> Productos </a>
						<ul class="dropdown-menu">
							<li>
								<a class="dropdown-item" th:href="@{/views/productos/}">Lista de Productos</a>
							</li>
							<li>
								<a class="dropdown-item" th:href="@{/views/productos/VCrear}">Crear Producto</a>
							</li>
							<li>
								<a class="dropdown-item" href="#">Altas al Inventario</a>
							</li>
						
						</ul>
					</li>
				</ul>
			</div>
		</div>
	</nav>
	<div class="alert alert-success alert-dismissible fade show" role="alert" th:if="${success != null}">
 		 <strong th:text="${success}"></strong>
		  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
		</div>
		<div class="alert alert-danger alert-dismissible fade show" role="alert" th:if="${danger != null}">
 		 <strong th:text="${danger}"></strong>
		  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
		</div>
		<div class="alert alert-warning alert-dismissible fade show" role="alert" th:if="${warning != null}">
 		 <strong th:text="${warning}"></strong>
		  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
		</div>
		<div class="alert alert-info alert-dismissible fade show" role="alert" th:if="${info != null}">
 		 <strong th:text="${info}"></strong>
		  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
		</div>
		</header>
	<div class="container">
		<div class="card bg-light">
			<div class="card-head bg-dark text-white text-center text-uppercase" th:text="${titulo}"></div>
			<div class="card-body">
			<form th:action="@{/views/productos/save}" th:object="${producto}"	method="post" enctype="multipart/form-data">
			<div class="row">
			<div class="col-4 text-center">
				<img class="img-thumbnail rounded float-left"
				th:src="@{'/recursos/' + ${producto.getUrl_nom_Img()}}"
				th:alt="${producto.getUrl_nom_Img()}"
				style="max-width:90%;">
			</div>
			<div class="col">
					<div class="mb-2 row">							
					<input type="hidden" th:field="*{id_Prod}">
						<label for="clave" class="col-sm-2 col-form-label">CLAVE:</label>
						<div class="col-sm-4">
							<input type="text"  class="form-control"  th:field="*{cve_Prod}"
								id="cve_Prod" placeholder="CLAVE">
								<small class="form-text text-danger" th:if="${#fields.hasErrors('cve_Prod')}" th:errors="*{cve_Prod}"></small>
						</div>
					</div>
					<div class="mb-2 row">
						<label for="nombre" class="col-sm-2 col-form-label">NOMBRE:</label>
						<div class="col-sm-6">
							<input type="text" class="form-control"  th:field="*{nom_Prod}"
								id="nom_Prod" placeholder="NOMBRE DEL PRODUCTO">
								<small class="form-text text-danger" th:if="${#fields.hasErrors('nom_Prod')}" th:errors="*{nom_Prod}"></small>

						</div>
					</div>
					<div class="mb-2 row">
						<label for="precio" class="col-sm-2 col-form-label">PRECIO:</label>
						<div class="col-sm-2">
							<input type="text"class="form-control"  th:field="*{pre_Prod}"
								id="pre_Prod" placeholder="PRECIO">
								<small class="form-text text-danger" th:if="${#fields.hasErrors('pre_Prod')}" th:errors="*{pre_Prod}"></small>						
						</div>
					</div>
					<div class="mb-2 row">
						<label for="existencias" class="col-sm-2 col-form-label">EXISTENCIAS:</label>
						<div class="col-sm-2">
							<input type="text" class="form-control" id="inv_exi_Prod"  th:field="*{inv_exi_Prod}">
								<small class="form-text text-danger" th:if="${#fields.hasErrors('inv_exi_Prod')}" th:errors="*{inv_exi_Prod}"></small>												
						</div>
					</div>
					<div class="mb-2 row">
						<label for="necesarias" class="col-sm-2 col-form-label">REQUERIDO:</label>
						<div class="col-sm-2">
							<input type="text" class="form-control" id="inv_stock_Prod"  th:field="*{inv_stock_Prod}">
								<small class="form-text text-danger" th:if="${#fields.hasErrors('inv_exi_Prod')}" th:errors="*{inv_exi_Prod}"></small>																		
						</div>
					</div>

					<div class="mb-2 row">
						<label for="proveedor" class="col-sm-2 col-form-label">PROVEEDOR:</label>
						<div class="col-sm-4">
							<select class="form-control col-md-6" th:field="*{id_prov_Prod}"
								id="url_nom_img">
								<option th:each="p: ${proveedoresList}"
									th:value="${p.getId_Prov()}" th:text="${p.getNom_Prov()}" />
							</select>
						</div>
					</div> 
					<div class="mb-2 row">
						<div class="col-sm-8">
							<input type="file" name="file" class="form-control col-md-8"
								id="url_nom_img">
						</div>
					</div>
					</div>
					</div>
					<div class="card-footer bg-dark text-center">
						<input type="submit" class="btn btn-primary "
							value="Guardar">
					</div>
				</form>
			</div>
		</div>
	</div>
		
	<footer th:fragment="footer" class="bg-dark text-center text-white fixed-bottom">

		<div class="container">
			<p>Copyright Alan Winchester &copy; -2023</p>

		</div>
	</footer>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
	
</body>
</html>